@font-face{
	font-family:"porkys_";
	src:url("porkys_-wehfont.eot");
	src:local("porkys_ Regular"),
		local("porkys_"),
		url("porkys_-webfont.woff") format('woff'),
		url("porkys_-webfont.ttf") format('truetype'),
		url("porkys_.svg#porkys_") format('svg');
}


body{background:#E3E3E3;}

section{background-color: #FFFFFF; width:75%; height:3000px;margin: auto;}

/*导航样式*/
	nav{
		position: relative;
	}
	ul.nav-1{
		width: 100%;
		height: 80px;
		position: fixed;
		background-color: #262626;
		left: 0;
		top: 0;
		z-index: 4000;
	}
	.nav-1 .logo{
		margin-right:10%;
		height:80px;
		width:20%;
		background-color: #1C1C1C;
		font: 43px/70px "微软雅黑";
		color:white;
		font-weight: 900;
	}
	.logo img{
		height: 100%;
		width: 35%;
		vertical-align: middle;

	}

	.nav-1 li{
		display: inline;
		float: left;
	}
	.nav-2 li{
		margin-right: 45px;
		width: 70px;
		height: 80px;
		display: inline;
		float: left;
		font: 25px/80px "porkys_";

	}
	.nav-1 a{
		text-decoration: none;
	}
	.nav-1 a:link{color:#888888;}
	.nav-1 a:hover{color:#FDFDFD;}
	li.log-in{
	float: right;
	height: 80px;
	margin-right: 20px;
	margin-left: 10px;
	font: 40px/80px "porkys_";
	}
	li.log-in:hover{cursor: pointer;}
	.lock{
		
		margin-right: 10px;
		width:60px;
		height:60px;
		margin-top:5px;
		vertical-align: middle;

	}
	div[name='nav-text']{
		width: 800px;
		height: 300px;
		background-color: #262626;
		position: absolute;
		top:60px;
		left:170px;
		padding: 5px;
		z-index:4000;
		display: none;
	}
	

/*大图轮播样式*/
	.part-1{
	width: 100%;
	height: 700px;
}
	


/* part2,左边图片*/
.part-2 {
	width: 100%;
	height: 1200px;
}
.part-2-top{
width: 100%;
height:52%;
}
.float-left{
	width: 60%;
	height: 100%;
	float: left;
}
	figure {
	margin-top: 100px;
	padding: 15px;
	position: relative;
	width: 100%;
	height: 100%;
}
figure img {
	margin-left: 3%;
	width: 70%;
	height: 50%;
	border-image: url('../img/side04.jpg') 30 30 30 30 round round;
	border-width: 15px;
	left: 20px;
	position: absolute;
	transform: rotate(-2deg);
}
figure > a + a img {
	left: 20px;
	top: 30px;
	transform: rotate(-6deg);
}
figure > a + a + a img {
	left: 50px;
	top: 50px;
	transform: rotate(-10deg);
}
figure > a:hover img {
	transform: rotate(0deg);
	transition: all 0.1s ease-in-out; /* Bonus animation! */
	z-index: 9999;
}

/*part-2 float-right*/
.float-right{
	width: 40%;
	height: 100%;
	float: right;
}
.para{
	margin-top: 30%;
	margin-right: 10px;
}
.para h1{
	font: 70px/100px "porkys_";
	color: #525558;
}
.opara{
	font: 20px/30px '微软雅黑';
	color: #525558;
}
.enter-btn{
	display: block;
	width: 150px;
	height: 60px;
	text-decoration: none;
	margin-top: 30px;
	margin-left: 24%;
	font: 40px/60px "微软雅黑";
	color: white;
	border-radius: 10px;
	text-indent: 26px;
	-moz-box-shadow:3px 3px 10px #333;
	-Webkit-box-shadow:3px 3px 10px #333;
	box-shadow:3px 3px 10px #333;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+0,61c419+35,61c419+70,b4e391+100,b4e391+100,b4e391+100 */
	background: #b4e391; /* Old browsers */
	background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 35%, #61c419 70%, #b4e391 100%, #b4e391 100%, #b4e391 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(35%,#61c419), color-stop(70%,#61c419), color-stop(100%,#b4e391), color-stop(100%,#b4e391), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 35%,#61c419 70%,#b4e391 100%,#b4e391 100%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b4e391 0%,#61c419 35%,#61c419 70%,#b4e391 100%,#b4e391 100%,#b4e391 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 35%,#61c419 70%,#b4e391 100%,#b4e391 100%,#b4e391 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b4e391 0%,#61c419 35%,#61c419 70%,#b4e391 100%,#b4e391 100%,#b4e391 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

	);
}
.part-2-bottom{
	width:100%;
	height: 48%;
	}
img.background{
	position: relative;
	width: 97%;
	height: 100%;
	fliter:alpha(opacity=50);
	opacity: 0.5;
	margin-left:1.5%;
}
h1.title{
	font:25px/30px "porkys_" '隶书';
}
.bot-left{
	position: absolute;
	clear: both;
	z-index:3;
	white-space: pre;
	float: left;
	font: 18px/22px "porkys_" '微软雅黑';
	width: 40%;
	margin-left:10%; 
	color: #AD7B24;
}
.bot-right{
	z-index: 3;
	position: absolute;
	left: 50%;
	width: 30%;
	margin-left: 10%;
	white-space: pre;
	float: right;
	font: 18px/22px "隶书";
	color: #F7EEDF;
}