@font-face{
	font-family:"porkys_";
	src:url("porkys_-wehfont.eot");
	src:local("porkys_ Regular"),
		local("porkys_"),
		url("porkys_-webfont.woff") format('woff'),
		url("porkys_-webfont.ttf") format('truetype'),
		url("porkys_.svg#porkys_") format('svg');
}


body{background:#E3E3E3;}

section{background-color: #FFFFFF; width:75%; height:1600px;margin: auto;}

/*导航样式*/
	nav{
		position: relative;
	}
	ul.nav-1{
		width: 100%;
		height: 80px;
		position: fixed;
		background-color: #262626;
		left: 0;
		top: 0;
		z-index: 4000;
	}
	.nav-1 .logo{
		margin-right:10%;
		height:80px;
		width:20%;
		background-color: #1C1C1C;
		font: 43px/70px "微软雅黑";
		color:white;
		font-weight: 900;
	}
	.logo img{
		height: 100%;
		width: 35%;
		vertical-align: middle;

	}

	.nav-1 li{
		display: inline;
		float: left;
	}
	.nav-2 li{
		margin-right: 45px;
		width: 70px;
		height: 80px;
		display: inline;
		float: left;
		font: 25px/80px "porkys_";

	}
	.nav-1 a{
		text-decoration: none;
	}
	.nav-1 a:link{color:#888888;}
	.nav-1 a:hover{color:#FDFDFD;}
	li.log-in{
	float: right;
	height: 80px;
	margin-right: 20px;
	margin-left: 10px;
	font: 40px/80px "porkys_";
	}
	li.log-in:hover{cursor: pointer;}
	.lock{
		
		margin-right: 10px;
		width:60px;
		height:60px;
		margin-top:5px;
		vertical-align: middle;

	}
	.nav-text{
		width: 800px;
		height: 300px;
		background-color: #262626;
		position: absolute;
		top:60px;
		left:170px;
		padding: 5px;
		z-index: 4000;
		display: none;
	}

/*大图轮播样式*/
	ul.big_pic{
		top: 80px;
		height: 580px; 
		width: 97%; 
		border:10px solid transparent; 
		overflow:hidden; 
		position: relative;
		margin: auto;
	}
	.big_pic li{
		list-style: none; 
		height: 600px;
		width: 100%; 
		overflow: hidden; 
		position: absolute; 
		top:0; left: 0; 
		z-index:0;
		background-color: url(img/loading.jpg) no-repeat center center;
	}
	.big_pic li img{
		width: 100%; 
		height:600px;
	}


	.mark_left{
		width:50%;height: 100%; 
		position:absolute; 
		background: green; 
		left: 0;
		top: 0;
		filter:alpha(opacity:0);
		opacity:0;
		z-index: 3000;
	}
	.mark_right{
		width:50%;height: 100%; 
		position:absolute; 
		background: red; 
		right: 0;
		top: 0;
		filter:alpha(opacity:0);
		opacity:0;
		z-index: 3000;
	}
	.big_pic .prev{
		width:60px;
		height:60px;
		background: url(../img/btn.gif) no-repeat;
		left: 20px;
		top:48%;
		z-index: 3001;
		cursor: pointer;
		position: absolute;
		filter:alpha(opacity:0);
		opacity:0;
	}
	.big_pic .next{
		width:60px;
		height:60px;
		background: url(../img/btn.gif) no-repeat 0 -60px;
		right: 20px;
		top:48%;
		z-index: 3001;
		cursor: pointer;
		position: absolute;
		filter:alpha(opacity:0);
		opacity:0;
	}